header{padding: 0 15px;}
nav{
    display: flex; 
    position: absolute;
}
.media{
    padding: 0 15px;
/*    margin: 0 auto; */
    max-width: 1200px;
}
.row{
    display: flex;
    padding: 0 -15px;
    margin: auto auto;
    justify-content: center;

}
[class^="col"]
/*todo los atributos que empiecen por col*/
{
    padding: 0 15px;

}
.navbar{
    display: inline-flex;
    justify-content: space-around;
    width: 50%;
}

.navbar__item{
display: inline-flex;
}

.dropdown__menu{
    display: none;
}
.search{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.search__labe{
    display: inline-flex;
flex: flex-end;

}
.jumbotron{
    display: inline-block;
    position: relative;
    padding: 0 15px;
}
.media{

}
.subscription{
    justify-content: center;
    padding: 10px 25%;

}
.subscription__container{
    display: inline-flex;
    align-items: flex-end;
}
video{
    flex-basis: 100%    
}

.site-footer{
    display: flex;
    justify-content: space-between;
}
.list-inline{
    display: inline-flex;
}
